.image {
  height: 700px;
  background-size: contain;
  width: auto;
  background-image: url('Auntiadharcard.jpg');
  background-position: 50% 50%;
}

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }



