<div class="image">
  <div class="container">
    <h1 class="d-flex justify-content-center" style="color: crimson">
      AADHAR APPLICATION
    </h1>
    <a type="button" class="d-inline btn btn-outline-danger" routerLink="/userlogin">
      Citizen Login</a><br><span class="fw-bold pe-2 textColor" style="font-size: smaller;">New User?</span><a
      style="text-decoration: none;" routerLink="/register">Register Here</a>
    <br />
    <br />
    <a type="button" class="d-inline btn btn-outline-danger" routerLink="/adminlogin">
      Admin Login
    </a>
  </div>
</div>